<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="../static/style.css">
  <!-- <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"> -->
</head>
<body>
  <header>
    {{if .User.IsAuth}}
    <nav>
        <h1>{{.Username}}</h1>
        <div class="left">
            <a href="/post/myLikedPost">My Liked Posts</a>
        </div> 
        <div class="center">
            <a href="/post/myPost">My Posts</a>
            <a href="/post/create">Create Post</a>
        </div>
        <div class="right">
            <a href="/logout">Logout</a>
        </div>
      </nav>
    {{else}}
    <nav>
      <h1>Forum</h1>
      <div class="left">
        <a href="/signin">Sign In</a>
      </div> 
      <div class="center">
        <a href="/signup">Sign Up</a>
      </div>
      <div class="right">
        <a href="#contact" title="Elnur Bauyrzan:
            Tel num: +77*****5261
            Tg: @El_n_uR
            Nick: ebauyrzh
            ">Contact</a>
      </div>
    </nav>
    {{end}}
  </header>

 
    <div>
        <p></p>
        <p></p>
     </div>


  <section>
    {{range .Posts}}
    <div class="container">
        <div class="post">
            <div class="post__header">
                <p>{{.Author}}</p>
                <a href="/post/?id={{.Id}}" class="title">{{.Title}}</a>
            </div>
            <p class="description">{{.Description}}</p>
            <div class="category">
                <p>Category: </p>         
                {{range .Category}}
                <span>{{.}}</span>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
  </section>

  <footer>
      <p><a href="/">Categories:</a> {{range .Category}}
        <a href="/?category={{.}}">{{.}} </a> ~
        {{end}}</p>
  </footer>
  
</body>
</html>